@import url('../../index.scss');

.card {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 376px;
  height: 188px;

  border: 2px solid #79c800;
  border-radius: 16px;

  background-repeat: no-repeat;
  background-position: top 0px right 0px;

  background-color: rgba(#ffffff, 0.7);
  box-shadow: 5px 5px 5px rgba(black, $alpha: 0.3);

  transition: all 0.05s linear;

  &::after {
    content: '';
    display: block;
    margin: 0;
    background: rgba(#ffffff, 0.05);
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  &__title {
    width: 161px;
    margin: 0;
    padding: 0;
    position: absolute;

    left: 16px;
    bottom: 16px;

    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;

    transition: all 0.05s linear;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(#79c800, 0.4);
  }

  &:hover &__title {
    cursor: pointer;
    font-size: 28px;
  }

  &:hover:after {
    animation-duration: 5s;
    animation-name: circle;
    animation-iteration-count: infinite;
  }
}

@media (max-width: 450px) {
  .card {
    width: 300px;
    height: 160px;
  }
}

@keyframes circle {
  0% {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  50% {
    width: 150px;
    height: 150px;
    margin: 50px;
    background: rgba(#999797, 0.1);
  }
  100% {
    width: 100px;
    height: 100px;
    margin: 0;
  }
}
